<!-- Topo -->
<div th:replace="compartilhado/topo"></div>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Administradores</h1>
                    <p class="mb-4">Aqui é listado os administradores do meu sistema</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a href="/administradores/novo" class="btn btn-primary" style="margin-right: 20px;">Novo</a>
                            <h6 class="m-0 font-weight-bold text-primary" style="display: inline-block;">Lista de Administradores</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Email</th>
                                            <th>Alterar</th>
                                            <th>Excluir</th>
                                            <th>Senha</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Email</th>
                                            <th>Alterar</th>
                                            <th>Excluir</th>
                                            <th>Senha</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="adm : ${administradores}">
                                            <td th:text="${adm.id}"></td>
                                            <td th:text="${adm.nome}"></td>
                                            <td th:text="${adm.email}"></td>
                                            <td><a th:href="@{ '/administradores/' + ${adm.id} + '/buscar' }" class="btn btn-warning">Alterar</a></td>
                                            <td><a href="#" th:onclick="| if(confirm('Confirma?')){ window.location.href='/administradores/${adm.id}/excluir' } |" class="btn btn-danger">Excluir</a></td> <!-- Outra forma de escrever seria th:onclick="'window.location.href = \'' + @{/administradores/{id}(id=${adm.id})} + '/excluir\''" -->
                                            <td th:text="${adm.senha}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

<!-- Footer -->
<div th:replace="compartilhado/baixo"></div>