<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Sistema de Admin</title>
</head>
<body class="bg-gradient-primary">

    <div class="container">
        <div class="card">
            <div class="card-body">
                <form class="user" action="/logar" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control form-control-user"
                            id="email" name="email" aria-describedby="emailHelp"
                            placeholder="Digite o seu email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="senha" class="form-control form-control-user"
                            id="senha" placeholder="Digite sua senha">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="lembrar" name="lembrar">
                            <label class="custom-control-label" for="lembrar">Lembrar</label>
                        </div>
                    </div>
        
                    <!-- Alerta do bootstrap, se o login der falha, exibe uma msg. -->
                    <div th:if="${ erro != null }" th:text="${erro}" class="alert alert-danger" role="alert"></div>
        
                    <button class="btn btn-primary btn-user btn-block" type="submit">
                        Login
                    </button>
                    <hr>
                </form>
            </div>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <!-- Jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</body>
</html>